extends basicSite.pug

block jscript
  script(src='/js/scriptWeatherRoute.js')

  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
  script(src='https://cdn.jsdelivr.net/npm/chart.js')

  style.
    #map{height:45vh; width:100%;}

block content2
  .box
    input.button(type='button' value ='Update!' onClick="updateMap()")
    p#lat= lat 
    p#lon= lon
    p#hiddenArray(hidden)= hiddenText
  .box#MapBox
  script(type='text/javascript').
    var marker 
    var map
    var polyline
    var ar = [];
    const tablename ="test2"

    function getAr(){

    }

    async function updateMap(){
      const url = "http://localhost:3000/ISS-now"
      const resp = await fetch(url);

      if (!resp.ok) throw new Error(resp.statusText);
      const data = await resp.json();

      var lat =data.lat
      var lon =data.lon
      marker.setLatLng([lat,lon]);

      ar.push([lat,lon]);
      //polyline.setLatLngs(ar)
      var x = L.polyline([ar[ar.length-2],ar[ar.length-1]]).addTo(map);
    }


    function setMap() {
      const lat = document.getElementById("lat").textContent
      const lon = document.getElementById("lon").textContent
    document.getElementById("MapBox").innerHTML = '<div id="map"></div>';
    map = L.map("map").setView([0, 0], 1);

    L.tileLayer("https://{s}.tile.osm.org/{z}/{x}/{y}.png", {
      attribution:
      '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      worldCopyJump: true,
    }).addTo(map);
    marker = L.marker([lat, lon]).addTo(map);
    polyline = L.polyline(ar).addTo(map);
    //console.log(document.getElementById("MapBox"))
    }
    setMap();

    setInterval(function() {
      console.log("Updated Map")
      updateMap();
    }, 30000);

    function testy(){
      var hiddenText = document.getElementById("hiddenArray").innerHTML
      ar = [];
      var lines = hiddenText.split('\n');
      for(var i = 0;i < lines.length-1;i++){
        var latindex = lines[i].indexOf("lat")
        var lonindex = lines[i].indexOf("lon")
        var xindex = lines[i].indexOf("}")

        var lat = lines[i].substring(latindex+5, lonindex-2)
        var lon = lines[i].substring(lonindex+5, xindex)
        ar.push([lat, lon])
        //code here using lines[i] which will give you each line
     }

     //
     for (let i = 1; i < ar.length; i++) {
       //console.log(ar[i-1][1]+" < "+ar[i][1]+"?")
       //console.log(ar[i-1][1]   <   ar[i][1])

       //Differenz zwischen letztem und vorletztem punkt
       const diff = (ar[i-1][1] - ar[i][1]);
       if(diff<0 && diff>-10){
         var x = L.polyline([ar[i-1],ar[i]]).addTo(map);
         
       } else {
         
         
       }
       //console.log(ar[i-1][1])
       
     }
    }
    testy()

  






