extends basicSite.pug

block jscript
  script(src='/js/scriptWeatherRoute.js')

  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  
  style.
    #map{height:45vh; width:100%;}

block content2
  br
  .box
    .columns(class='is-centered is-mobile' id="columns")
      .column
        input.input#StartCity(type='text'  placeholder='Start')
        input.input#StartDate(type='date')
        input.input#StartTime(type='time')
      .column
        input.input#EndCity(type='text' placeholder='Ende')
        input.input#EndDate(type='date')
        input.input#EndTime(type='time')
    input.button#Go(type='button' value ='RoutenWetter' class="is-fullwidth" onClick="doTheThing()")
  .box
    .box#Diagramm
      canvas#WetterDiagramm
    .box#WetterAnzeige
  script(type='text/javascript').
    init();
    