extends basicSite.pug

block jscript
  script(src='/js/scriptWeatherRoute.js')

  link(rel='stylesheet' href='/css/leaflet.css')
  script(src='/js/leaflet.js')
  script(src='/js/chart.js')
  
  style.
    #map{height:45vh; width:100%;}

block content2
  br
  .box
    .columns(class='is-centered is-mobile' id="columns")
      .column
        input.input#StartCity(type='text'  placeholder='Start')
        input.input#StartDate(type='date')
        input.input#StartTime(type='time')
      .column
        input.input#EndCity(type='text' placeholder='Ende')
        input.input#EndDate(type='date')
        input.input#EndTime(type='time')
    input.button#Go(type='button' value ='RoutenWetter' class="is-fullwidth" onClick="doTheThing()")
  .box
    .box#Diagramm
      canvas#WetterDiagramm
    .box#WetterAnzeige
  script(type='text/javascript').
    init();
    